@page "/shoppingList"
@using System.Collections.Immutable
@using OneOf
@using OneOf.Types
@using mahl.Shared
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<h1>Shopping List</h1>

<div>
    <input type="text" @oninput="GetSuggestions" placeholder="Title" />
    <input type="text" @bind="newShoppingListItemDescription" placeholder="Description" />
    <button @onclick="AddShoppingListItem">Add</button>
</div>

<ul>
    @foreach (var item in shoppingList.GetUnboughtItems())
    {
        <li>
            <input type="checkbox" @onclick="() => MarkItemAsBought(item)" />
            <span class="bg-warning">@item.Title</span>
            <span>@item.Description</span>
        </li>
    }
</ul>

<h3>Old</h3>
<ul>
    @foreach (var item in shoppingList.GetBoughtItems())
    {
        <li>
            <input type="checkbox" @onclick="() => MarkItemAsBought(item)" />
            <span class="bg-warning">@item.Title</span>
            <span>@item.Description</span>
        </li>
    }
</ul>

@code {
    private ShoppingListType shoppingList = ShoppingList.Empty;
    private ShoppingListType unsyncedItems = ShoppingList.Empty;
    private string newShoppingListItemTitle = string.Empty;
    private string newShoppingListItemDescription = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        unsyncedItems = await SyncLocalChanges();
        shoppingList = await LoadShoppingList();
    }

    private async Task<ShoppingListType> SyncLocalChanges()
    {
        var unsyncedItems = await LoadUnsyncedItemsFromLocalStorage();

        if (!unsyncedItems.Any()) return unsyncedItems;

        HttpResponseMessage? response = null;
        try
        {
            response = await Http.PutAsJsonAsync(RouteBases.ShoppingList, unsyncedItems);
        }
        catch
        {
            return unsyncedItems;
        }
        if (response?.IsSuccessStatusCode != true)
            return unsyncedItems;

        // TODO: Show a message about the failed items?

        return ShoppingList.Empty;
    }

    private async Task<ShoppingListType> LoadShoppingList()
    {
        // TODO: Remove bought items after a fixed time
        // or only keep a fixed number of bought items

        var remoteShoppingList = new List<ShoppingListItem>();
        try
        {
            remoteShoppingList = await Http.GetFromJsonAsync<List<ShoppingListItem>>(RouteBases.ShoppingList)
                           ?? new List<ShoppingListItem>();
        }
        catch
        {
            return await LoadShoppingListFromLocalStorage();
        }
        var loadedShoppingList = ShoppingList.Create(remoteShoppingList)
                                             .Match(
                                                 list => list,
                                                 // TODO: If the loaded items can't be made into a shopping list, something is very wrong. Is there a better way to handle this?
                                                 error => ShoppingList.Empty
                                             );
        await SaveShoppingListToLocalStorage(loadedShoppingList);

        return loadedShoppingList;
    }

    private async Task GetSuggestions(ChangeEventArgs eventArgs)
    {
        var searchString = eventArgs.Value?.ToString();
        newShoppingListItemTitle = searchString ?? string.Empty;

        if (string.IsNullOrWhiteSpace(searchString)) return;

        var suggestions = new List<ShoppingListItem>();
        try
        {
            suggestions = await Http.GetFromJsonAsync<List<ShoppingListItem>>($"{RouteBases.ShoppingList}/suggestions")
                          ?? [];
        }
        catch
        {
            // Nothing to do, just like we got no suggestions
        }
        // TODO: Display suggestions

    }

    private async Task AddShoppingListItem()
    {
        if (string.IsNullOrWhiteSpace(newShoppingListItemTitle))
            return;

        // TODO: The case could fail, as there could be an error creating the item. This should probably be handled somehow.
        var newItem = (ShoppingListItem)ShoppingListItem.New(newShoppingListItemTitle, newShoppingListItemDescription);

        if (shoppingList.Contains(newItem)) return;

        try
        {
            var response = await Http.PostAsJsonAsync(RouteBases.ShoppingList, newItem);
            if (response.IsSuccessStatusCode)
            {
                var persistedItem = await response.Content.ReadFromJsonAsync<ShoppingListItem>();
                if (persistedItem is not null)
                    newItem = persistedItem;
            }
            // TODO: Check the reason why the item couldn't be added.
            // If the remote couldn't add it, then we probably shouldn't add it locally either.
        }
        catch
        {
            AddUnsyncedItemToLocalStorage(newItem);
        }

        shoppingList = shoppingList.Add(newItem).Match<ShoppingListType>
        (
            newList => newList,
            // As we checked whether the items was contained in the list, this should never happen
            _ => shoppingList
        );

        newShoppingListItemTitle = string.Empty;
        newShoppingListItemDescription = string.Empty;

        await SaveShoppingListToLocalStorage(shoppingList);
    }

    private async Task MarkItemAsBought(ShoppingListItem item)
    {
        var boughtItem = item with { BoughtAt = DateTimeOffset.Now };
        await UpdateShoppingListItem(boughtItem);
    }

    private async Task UpdateShoppingListItem(ShoppingListItem item)
    {
        (shoppingList, bool updateFailed) = shoppingList.Update(item).Match(
            updatedList => (updatedList, false),
            _ => (shoppingList, true)
        );

        // TODO: Proper handling (e.g. show error message)
        if (updateFailed) return;

        try
        {
            var response = await Http.PutAsJsonAsync(RouteBases.ShoppingList, item);
            if (response.IsSuccessStatusCode)
            {
                var persistedItem = await response.Content.ReadFromJsonAsync<ShoppingListItem>();
                if (persistedItem is not null)
                    item = persistedItem;
            }
            // TODO: Check the reason why the item couldn't be updated.
            // If the remote couldn't update it, then we probably shouldn't update it locally either.
        }
        catch
        {
            AddUnsyncedItemToLocalStorage(item);
        }

        await SaveShoppingListToLocalStorage(shoppingList);
    }

    private async Task<ShoppingListType> LoadShoppingListFromLocalStorage()
    {
        var loaded = await localStorage.GetItemAsync<IEnumerable<ShoppingListItem>>("shoppingList");
        return loaded switch
        {
            null => ShoppingList.Empty,
            var items => ShoppingList.Create(items.ToImmutableList())
                                     .Match(
                                         list => list,
                                         // TODO: If the loaded items can't be made into a shopping list, something is very wrong. Is there a better way to handle this?
                                         error => ShoppingList.Empty
                                     )
        };
    }

    private async Task SaveShoppingListToLocalStorage(ShoppingListType shoppingList)
    {
        await shoppingList.ApplyAsync(async items => await localStorage.SetItemAsync("shoppingList", items));
    }

    private async void AddUnsyncedItemToLocalStorage(ShoppingListItem item)
    {
        unsyncedItems = unsyncedItems.Add(item).Match<ShoppingListType>(
                list => list,
                // TODO: Consider what happens when the list on the backend differs,
                // e.g. when trying to sync after some time.
                _ => unsyncedItems
                );
        await SaveUnsyncedItemsToLocalStorage(unsyncedItems);
    }

    private async Task<ShoppingListType> LoadUnsyncedItemsFromLocalStorage()
    {
        var loaded = await localStorage.GetItemAsync<IEnumerable<ShoppingListItem>>("unsyncedShoppingListItems");
        return loaded switch
        {
            null => ShoppingList.Empty,
            var items => ShoppingList.Create(items.ToImmutableList())
                                     .Match(
                                         list => list,
                                         // TODO: If the loaded items can't be made into a shopping list, something is very wrong. Is there a better way to handle this?
                                         error => ShoppingList.Empty
                                     )
        };
    }

    private async Task SaveUnsyncedItemsToLocalStorage(ShoppingListType unsyncedItems)
    {
        await shoppingList.ApplyAsync(async items => await localStorage.SetItemAsync("unsyncedShoppingListItems", unsyncedItems));
    }
}
